/* General body styling for the entire page */
body {
    font-family: Courier New;
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
}

/* Styling for the main content area */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1400px;
    width: 100%;
}

/* Styling for sections that contain statistics */
.stats-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Style for the page title */
.page-title {
    font-size: 32px;
    font-weight: bold;
    color: #00b521;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

/* Style for secondary headings */
h2 {
    font-size: 18px;
    color: #00b521;
    margin: 0 0 20px 0;
    padding-left: 20px;
    width: 100%;
    font-weight: bold;
}

/* Container for individual stats */
.stat-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Labels for stats, aligning text to the left */
.stat-label {
    text-align: left;
    color: #00b521;
    min-width: 50px;
    margin-right: 10px;
    font-weight: bold;
}

.x5-label {
    text-align: left;
    color: #00b521;
    min-width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

/* Values for stats, centered */
.stat-value {
    text-align: center;
    color: #ffffff;
    min-width: 50px;
    margin-right: 0px;
    font-weight: bold;
}

.x5-value {
    text-align: center;
    color: #ffffff;
    min-width: 30px;
    margin-right: 10px;
    margin-left: 0px;
    font-weight: bold;
}

/* Descriptor for additional information */
.descriptor {
    text-align: center;
    color: #00b521;
    width: 140px;
    min-width: 80px;
    margin-right: 0px;
    font-weight: bold;
}

.attributes {
    text-align: right;
    color: #00b521;
    min-width: 220px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 0px;
}

.attribute-values {
    text-align: right;
    color: #ffffff;
    min-width: 50px;
    margin-right: 20px;
    margin-left: 0px;
    font-weight: bold;
}

/* Button styling for interactivity */
.adjust-button,
button {
    background-color: #000000;
    color: #00b521;
    border: 2px solid #00b521;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for buttons */
.adjust-button:hover,
button:hover {
    background-color: #00b521;
    color: #000000;
}

/* Container for buttons to align them properly */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

/* Styling for informational text below buttons or inputs */
.info-text {
    text-align: center;
    width: 100%;
}

/* Style for displaying total points */
.total-points {
    color: #00b521;
    margin-top: 30px;
    padding-left: 20px;
    width: 100%;
    font-weight: bold;
}

.text-box {
    width: 800px;
    height: 250px;
    background-color: #000000;
    color: #00b521;
    border: 2px solid #00b521;
    margin-top: 30px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    color: #00b521;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-weight: bold;
}

.text-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/art/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    opacity: 0.1;
    pointer-events: none;
    font-weight: bold;
}

.github-link-container {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.github-link-container a {
    color: #00b521;
    font-weight: bold;
    text-decoration: none;
    font-family: Courier New;
}

.github-link-container a:hover {
    color: #00b521;
    text-decoration: underline;
}

/* Blinking cursor effect */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 1s step-start 5s infinite;
}

@keyframes textFlicker {

    0%,
    100% {
        text-shadow: 0 0 4px rgba(0, 255, 0, 0.4),
            0 0 11px rgba(0, 255, 0, 0.2),
            0 0 19px rgba(0, 255, 0, 0.1),
            0 0 40px rgba(0, 255, 0, 0.05);
        opacity: 0.99;
    }

    25%,
    75% {
        text-shadow: none;
        opacity: 0.99;
    }
}

body,
body * {
    animation: textFlicker 20s infinite;
}


/* Bond categories styling */
.bond-categories {
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 10px;
    min-width: 200px;
    color: #00b521;
    font-weight: bold;
}

.bond-categories label {
    display: block;
    /* This ensures each label is on its own line */
    margin-bottom: 10px;
    /* Adjust the bottom margin as needed for spacing */
}

.bond-categories input[type="checkbox"] {
    display: inline-block;
    /* Ensure each checkbox is displayed as an inline-block */
    margin-right: 5px;
    /* Add some spacing between checkbox and label */
}

input[type="checkbox"] {
    display: none;
    /* Hide checkbox */
}

input[type="checkbox"]+label {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
}

input[type="checkbox"]:checked+label {
    background-color: #00b521;
    color: white;
}